<li><a href="{% url 'featured' %}" class="featured">Featured</a></li>
<li><a href="{% url 'learn' %}" class="learn">Learn</a></li>
{#<li><a href="{% url 'partners' %}" class="partners">Partners</a></li>#}
{#<li><a href="{% url 'videos_list_all' %}" class="video">Video</a></li>#}
<li><a href="{% url 'healing_request_home' %}" class="request">Requests</a></li>
<li><a href="{% url 'send_healing' %}" class="global_healing_panel global_healing">Circle</a></li>
{% if not hide_bottom_row %}
{% if not landing %}<li class="hr"></li>{% endif %}
{#{% if not request.user.is_authenticated %}#}
	<li><a href="{% url 'tour' %}" class="tour_benefits">Tour</a></li>
	<li><a href="{% url 'pricing' %}" class="pricing">Pricing</a></li>
{#{% endif %}#}
{% endif %}
