{% extends 'nav_top.html' %}
{% block extra_items %}
    <li><a href="{% url 'home' %}" class="nav_top_home">Home</a></li>
{% endblock %}
{% block items %}
    {% include 'about/menu_items.html' with hide_bottom_row=True %}
{% endblock items %}
{% block login_out %}
    <li id="menu_item_me"><a href="{% if is_healer %}{% url 'what_next' %}{% else %}{% url 'receiving_appointments' %}{% endif %}" class="nav_client_account">Me</a></li>
{% endblock %}