<div id="healer_profile_edit_links" class="healer_settings">
    <h3>Links to {% if editing_self %}Your Own{% else %}{{ first_name }}'s{% endif %} Website and Social Media Pages</h3>
    <label class="icon_earth">{{ form.website.label }}</label><div>{{ form.website }}</div><br />
    <label class="icon_facebook">{{ form.facebook.label }}</label><div>{{ form.facebook }}</div><br />
    <label class="icon_twitter">{{ form.twitter.label }}</label><div>{{ form.twitter }}</div><br />
    <label class="icon_google_plus">{{ form.google_plus.label }}</label><div>{{ form.google_plus }}</div><br />
    <label class="icon_linkedin">{{ form.linkedin.label }}</label><div>{{ form.linkedin }}</div><br />
    <label class="icon_yelp">{{ form.yelp.label }}</label><div>{{ form.yelp }}</div>
</div>