.loading {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px;
}

.body_content {
    margin: 5px;
}

.facebook_share_links, #offline_message {
	display: none;
}

#update_required {
	text-align: center;
	display: none;
	margin-bottom: 10px;
	color: darkred;
}

.back_arrow {
	background-image: url(../img/header_arrow.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 10px;
	height: 17px;
	float: left;
	top: 2px;
	position: relative;
	margin-right: 5px;
	opacity: 0.4;
}

.header_arrow {
	background-image: url(../img/header_arrow.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 10px;
	height: 17px;
	float: left;
	top: 11px;
	left: 10px;
	position: relative;
}

.header_logo {
	float: left;
	width: 96%;
}

.header_content {
	float: left;
	font-size: 21px;
	display: none;
	min-width: 40%;
	text-align: left;
	text-indent: 15px;
	max-width: 65%;
}

.header_additional_content {
	float: right;
	padding-right: 10px;
	display: none;
	width: 25%;
	text-align: right;
	cursor: pointer;
}

.smallscreen_logo {
	background-color: #e7e7e7;
	height: 37px;
	line-height: 37px;
	box-shadow: 4px 1px 10px #777;
	padding: 4px 0;
	overflow: hidden;
}

.smallscreen_logo a {
	color: #000;
}

.smallscreen_logo img {
	height: 37px;
}

.smallscreen_logo a:hover {
	text-decoration: none;
}

.phonegap_footer {
	clear: both;
	text-align: center;
	margin-top: 10px;
}

/* Menu */

.phonegap-menu-item {
	width: 99%;
	background-repeat: no-repeat;
	background-position: 98% 9px;
}

.pg_ghp_button {
	background-image: url(../site_media/static/healersource/img/nav_top/handshake.png);
}

.pg_notes_button {
	background-image: url(../site_media/static/healersource/img/nav_bar/nav_notes.png);
}

.pg_find_a_provider_button {
	background-image: url(../site_media/static/healersource/img/nav_bar/nav_find_a_provider.png);
}

.pg_login_button {
	background-image: url(../site_media/static/healersource/img/nav_top/login.png);
}

.pg_signup_button {
	background-image: url(../site_media/static/healersource/img/nav_top/signup.png);
}

a.menu-link {
	text-align: left;
	margin-left: 0;
	font-size: 19px;
	border-top: 1px solid #999;
}

/* ----------------- */

/* Notes */

#notes_unauth img {
	max-width: 100%;
}

/* ----------------- */

/* Find a provider */

.search_results_provider {
	cursor: default;
}

/* ----------------- */


/* Floatbox css fixes */

#fbx div.fbx, #fbx a.fbx, #fbx img.fbx, #fbx iframe.fbx {
	border-style: none;
}

#fbx .fbContent {
	display: inline;
}

/* ----------------- */


.menu-link {
	padding: 6px 0;
	text-indent: 10px;
}

@media screen and (min-width: 36.25em) {
	a.menu-link, a.login_button, a.my_account_button {
		display: block;
	}
}

@media screen and (min-width: 60em) {
	.smallscreen_logo { display: block; }
}

.panel .content {
	padding: 14px 8px 6px 8px;
}

.btn {
	cursor: pointer;
	background-color: #FFFC99;
	padding: 5px 15px;
	text-align: center;
	border: 1px solid #777;
	border-radius: 4px;
	display: inline-block;
	font-size: 1.3em;
}