{% load i18n %}
{% load compress %}
{% load healer_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
	{% include 'fonts.html' %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<title>{% block head_title_base %}{% block head_title %}{% endblock %}{% if SITE_NAME %} :: {{ SITE_NAME }}{% endif %}{% endblock %}</title>
	<link rel="shortcut icon" href="{{ STATIC_URL }}healersource/img/favicon.ico" />
	<link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}healersource/img/logo/touch-icon-ipad-retina.png">

	{% block og %}{% include "og.html" %}{% endblock %}
	{% block og-image %}<meta property="og:image" content="https://www.healersource.com/static/default/healersource/img/logo/hs_logo_og.png" />{% endblock %}

	<link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" />

	{% jquery_js_import %}
	{% include 'search_vars.html' %}
	{% compress js %}
		<script type="text/javascript" src="{{ STATIC_URL }}healersource/js/util.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}tinydropdown/tinydropdown.js"></script>
		{% include 'common_js_vars.html' %}
		<script type="text/javascript" src="{{ STATIC_URL }}healersource/js/search.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}healersource/js/healer_search_autocomplete.js"></script>
	{% endcompress %}

	{% block extra_head_base %}
		{% block extra_head %}{% endblock %}
	{% endblock %}

	{% compress css %}
		<link rel="stylesheet" href="{{ STATIC_URL }}healersource/css/hs.css" />
	{% endcompress %}

	{% block extra_head_last %}
	{% endblock %}

	{% compress js %}
		<script type="text/javascript" src="{{ STATIC_URL }}healersource/js/respond.src.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}healersource/js/jquery.cookie.js"></script>
   		<script type="text/javascript" src="{{ STATIC_URL }}healersource/js/csrf.js"></script>
	{% endcompress %}

	{% include 'ga.html' %}
	{% include 'hotjar.html' %}
</head>

<body class="{% block body_class %}{% endblock %} hs_bg" style="{% block body_style %}{% endblock %}">
{% include 'impersonate.html' %}

{% include 'downtime.html' %}
{% block content %}{% endblock %}

{% block extra_body_base %}
	{% block extra_body %}{% endblock %}
{% endblock %}

{% compress js %}
	<script src="{{ STATIC_URL }}healersource/js/healer_search.js"></script>
{% endcompress %}

{% include 'ga_remarketing.html' %}
</body>
</html>
