{% extends "site_base.html" %}

{# {% load healer_tags %} #}

{% block head_title %}Account{% endblock %}
{% block extra_head %}
	{{ form.media }}
	{% include "payments/checkout.html" %}
	<script type="text/javascript" src="{{ STATIC_URL }}healersource/js/card_settings.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}healersource/css/settings.css" />
{% endblock %}

{% block page_title %}<h1 class="nav_icon nav_client_account">Account</h1>{% endblock %}

{% block body %}

	{% include "form_errors.html" %}

	<form action="{% url 'clients_profile' %}" method="post">{% csrf_token %}
		<table style="width: 100%;"><tr>
			<td>
				{% with 1 as show_edit %}{% with client.user as user %}
					{% include "clients/avatar.html" %}
				{% endwith %}{% endwith %}
				<input type="submit" value="Save Profile" style="margin-top: 150px;" />
			</td>
			<td>{{ form.about }}</td>
		</tr></table>

		<h3 style="margin-top: 0; clear: both;">Basic Info</h3>
		<p>Name&nbsp;{{ form.first_name }} {{ form.last_name }}</p>
		<p>Email Address: {{ user.email }} | <a href="{% url 'edit_email' %}">edit</a></p>
		<p>{{ form.phone.label }}: {{ form.phone }} </p>
		<p><label>{{ form.send_reminders }} {{ form.send_reminders.label }}</label></p>
		{% if locations %}
			<h3 style="margin-top: 0;">Locations</h3>
			{% for location in locations %}
				<p>{{ location }} | <a href="{% url 'client_location_edit' location.pk %}">edit</a></p>
			{% endfor %}
		{% endif %}
		<p><label>{{ form.ghp_notification_frequency.label }}:</label> {{ form.ghp_notification_frequency }}</p>
{#		<p>{{ form.beta_tester.label }}&nbsp;{{ form.beta_tester }}</p>#}

		<h3 style="margin-top: 0;">Payments</h3>
		<div id="card_settings">
			{% include 'payments/card_settings_history.html' %}
		</div>

		<input type="submit" value="Save Profile" />
	</form>

{% endblock %}

